/* Global styles */
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  background: #fafafa;
}
main {
  max-width: 614px;
  margin: 2rem auto;
}
a {
  color: #FA7268;
  text-decoration: none;
}
img {
  display: block;
}
article {
  margin: 0 auto;
}

.Home-li a {
  font-weight: bold;
  color: #000;
}

/* Colors */
.text-blue {color: #003569;}
.text-coral {color: #FA7268;}

/* Header styles */
.app-logo:active {
  opacity: .5;
}
.Header-header {}
.Header-h1 {}
.Header-nav {}
.Header-navLink {}
.Header-isActive {}

/* Home */
.Home-ul {
  padding: 0;
  margin: 0;
}
.Home-li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  overflow: hidden;
}
.Home-link {
  color: #000;
}
.Home-placeholder {
  background-color: white;
  max-width: 614px;
  overflow: hidden;
}
.Home-img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.Home-showMoreWrapper {
  display: flex;
  justify-content: center;
}
.Home-button {
  width: 100%;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 24px;
  background: #000;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.Home-button:disabled{
  background: grey;
  cursor: not-allowed;
}

/* About */
.About-infoHeader {
  text-align: center;
}
.About-img {
  height: 120px;
  width: auto;
}
.About-author {
  margin-bottom: 72px;
}

/* Post */
.Post-placeholder {
  max-width: 614px;
  background-color: #eee;
}
