/* Import Sofia fonts */
@font-face {
  font-family: "Sofia Pro Soft Light";
  src: url('../fonts/Sofia-Pro-Soft-Light.otf');
  font-weight: 200;
}
@font-face {
  font-family: "Sofia Pro Soft Regular";
  src: url('../fonts/Sofia-Pro-Soft-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: "Sofia Pro Medium";
  src: url('../fonts/Sofia-Pro-Soft-Medium.otf');
  font-weight: 600;
}
@font-face {
  font-family: "Sofia Pro Bold";
  src: url('../fonts/Sofia-Pro-Soft-Bold.otf');
  font-weight: 800;
}

/* Global styles */
body {
  font-family: "Sofia Pro Soft Regular", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  background: #212121;
}

a {
  color: #00B0FF;
  text-decoration: none;
}
img {
  display: block;
}

/* Colors */
.text-blue-light {color: #00B0FF;}
.text-blue {color: #3366FF;}
.text-dark-blue {color: #0D47A1;}
.text-grey-dark {color: #757575;}
.text-grey {color: #bdbdbd;}

/* Font Weight */
.font-light { font-weight: 200; }
.font-regular { font-weight: 400; }
.font-medium { font-weight: 600; }
.font-bold { font-weight: 800; }

/* Tracking */
.tracking-wider { letter-spacing: 0.2rem; }

/* Borders */
.border-grey-dark {
  border-color: rgba(255,255,255,.5);
}


/* Header styles */
.app-logo:active {
  opacity: .5;
}
.Header-header {}
.Header-h1 {}
.Header-nav { font-weight: 600; }
.Header-navLink { color: #fff; }
.Header-actionLink {
  float: right;
  background: rgba(255,255,255,.1);
  height: 64px;
  line-height: 64px;
  transition: .15s all linear;
}
.Header-actionLink:hover {
  background-color: rgba(255,255,255,.25);
}
.Header-isActive { }

/* Home */
.Home-ul {}
.Home-li { display: block; }
.Home-li a {}
.Home-li p {
  margin-bottom: .5rem;
}
.home-link {
  color: #000;
  background: #212121;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 33.3333%;
  z-index: 0;
}
.home-link::after {
  content: "";
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  background-size: cover;
  transition: .15s all linear;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.home-link:hover::after {
  opacity: .25;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
.home-link_agent::after { background-image: url('../images/customer-types/agent.png'); }
.home-link_buyer::after { background-image: url('../images/customer-types/buyer.png'); }
.home-link_ait::after { background-image: url('../images/customer-types/ait.png'); }

.Home-placeholder {
  background-color: white;
  max-width: 614px;
  overflow: hidden;
}
.Home-img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.Home-showMoreWrapper {
  display: flex;
  justify-content: center;
}
.Home-button {
  width: 100%;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 24px;
  background: #000;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.Home-button:disabled{
  background: grey;
  cursor: not-allowed;
}

/* Content */
main {}

article {
  margin: 0 auto;
}

/* About */
.About-infoHeader {
  text-align: center;
}
.About-img {
  height: 120px;
  width: auto;
}
.About-author {
  margin-bottom: 72px;
}

/* Post */
.Post-placeholder {
  max-width: 614px;
  background-color: #eee;
}
