/* Import Sofia fonts */
@font-face {
  font-family: "Sofia Pro Soft Light";
  src: url('../fonts/Sofia-Pro-Soft-Light.otf');
  font-weight: 200;
}
@font-face {
  font-family: "Sofia Pro Soft Regular";
  src: url('../fonts/Sofia-Pro-Soft-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: "Sofia Pro Medium";
  src: url('../fonts/Sofia-Pro-Soft-Medium.otf');
  font-weight: 600;
}
@font-face {
  font-family: "Sofia Pro Bold";
  src: url('../fonts/Sofia-Pro-Soft-Bold.otf');
  font-weight: 800;
}

/* Global styles */
body {
  font-family: "Sofia Pro Soft Regular", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  background: #fff;
}
main {}
a {
  color: #00B0FF;
  text-decoration: none;
}
img {
  display: block;
}
article {
  margin: 0 auto;
}

/* Colors */
.text-blue-light {color: #00B0FF;}
.text-blue {color: #3366FF;}
.text-dark-blue {color: #0D47A1;}

/* Font Weight */
.font-light { font-weight: 200; }
.font-regular { font-weight: 400; }
.font-medium { font-weight: 600; }
.font-bold { font-weight: 800; }

/* Header styles */
.app-logo:active {
  opacity: .5;
}
.Header-header {}
.Header-h1 {}
.Header-nav { font-weight: 600; }
.Header-navLink { color: #212121; }
.Header-isActive { }

/* Home */
.Home-ul {}
.Home-li { display: block; }
.Home-li a {}
.Home-li p {
  margin-bottom: .5rem;
}
.Home-link {
  color: #000;
}
.Home-placeholder {
  background-color: white;
  max-width: 614px;
  overflow: hidden;
}
.Home-img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.Home-showMoreWrapper {
  display: flex;
  justify-content: center;
}
.Home-button {
  width: 100%;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 24px;
  background: #000;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.Home-button:disabled{
  background: grey;
  cursor: not-allowed;
}

/* About */
.About-infoHeader {
  text-align: center;
}
.About-img {
  height: 120px;
  width: auto;
}
.About-author {
  margin-bottom: 72px;
}

/* Post */
.Post-placeholder {
  max-width: 614px;
  background-color: #eee;
}
